@import "reset.css";
@import "flexslider.css";
/* Wrap de la homePage*/
.wrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* Début home page */
/* Ecriture en roboto dans le body*/

body {
    font-family: 'Roboto', sans-serif;
}
/* Fin de la police roboto */
/* début barre de navigation   */
.h .navigation ul li a {
    text-decoration: none;
    color: #ffff;
}

.h .navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.h .navigation {
    background-color: #333333;
    padding: 20px;
}
/* Fin de la barre de navigation */
/* Flexslider */
.page-slider .flexslider .slides .sliderz {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Fin du flexslider */
/* Section du milieu */
.middle {
    text-align: center;

}


.middle .middle-text {
    font-size: 20px;

}

.middle .middle-text .title-middle {
    color: #034ea2;
}

.middle .middle-text .paragraph {
    color: #333333;
    border: solid;
    border-radius: 30px;
}

.middle .middle-text span.line {
    height: 10px;
    width: 10px;
    background: #333;
    display: block;
    margin: 0 auto;
    border: solid;
    border-radius: 30px;
}
/* Fin de la section du milieu */
/* Sections textuelles au milieu */
.sectionX {
    width: 33.333333333%;
    float: left;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 20px;

}

.sectionY {
    width: 33.333333333%;
    float: left;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.sectionZ {
    width: 33.333333333%;
    float: right;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 20px;

}

.sectionX h3, .sectionY h3, .sectionZ h3 {
    font-size: 25px;
    color: #034ea2;
    text-align: justify;
}
.sectionX h3 .title2,

.sectionX .para {
    line-height: 25px;
}

.sectionY .para {
    line-height: 25px;
}

.sectionZ .para {
    line-height: 25px;
}
.sectionX, .sectionY, .sectionZ {
    padding-left: 50px;
}
/* Fin de la section textuelle*/
/* Barre des copyrights */
.bottom-barz {
    background: #333333;
    padding: 20px 0 20px 0;
}

.bottom-barz .copyrights {
    text-align: center;
    color: #fff;
}
/*Fin barre copyrights*/