@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
@import "flexslider.css";

/**
HOMEPAGE
 */

img {
    margin: 0 auto;
}

.wrap {
    max-width: 960px;
    width: 100%;
    margin: 10px auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

.h .navigation ul li a {
    text-decoration: none;
    color: #ffff;
}

.h .navigation ul {
    display: flex;
    justify-content: space-evenly;
}

.h .navigation {
    background-color: #333333;
    padding: 20px;
}

.middle {
    text-align: center;

}


.middle .middle-text {
    font-size: 20px;

}

.middle .middle-text .title-middle {
    color: #034ea2;
}

.middle .middle-text .paragraph {
    color: #333333;
    border: solid;
    border-radius: 30px;
}

.middle .middle-text span.line {
    height: 10px;
    width: 10px;
    background: #333;
    display: block;
    margin: 0 auto;
    border: solid;
    border-radius: 30px;
}

.sectionX {
    width: 33.333333333%;
    float: left;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 20px;

}

.sectionY {
    width: 33.333333333%;
    float: left;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.sectionZ {
    width: 33.333333333%;
    float: right;
    padding: 0 10px;
    text-align: justify;
    margin-bottom: 20px;

}

.sectionX h3, .sectionY h3, .sectionZ h3 {
    font-size: 25px;
    color: #034ea2;
    text-align: justify;
}
.sectionX h3 .title2,

.sectionX .para {
    line-height: 25px;
}

.sectionY .para {
    line-height: 25px;
}

.sectionZ .para {
    line-height: 25px;
}
.sectionX, .sectionY, .sectionZ {
    padding-left: 50px;
}
/* Fin de la section textuelle*/
/* Barre des copyrights */


/**
FIN HOMEPAGE
 */

/**
FLEXSLIDER
 */

.page-slider .flexslider .slides .sliderz {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
FIN FLEXSLIDER
 */
/**
WRAPPER FORMULAIRES
 */

.wrapper {
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #034ea2 0%, #4698a2 100%);
    background: -moz-linear-gradient(top left, #034ea2 0%, #4698a2 100%);
    background: -o-linear-gradient(top left, #034ea2 0%, #4698a2 100%);
    background: linear-gradient(to bottom right, #034ea2 0%, #4698a2 100%);
    /*position: absolute;*/
    /*left: 0;*/
    margin: 20px auto;
    width: 50%;
    height: 700px;
    overflow: hidden;
    border-radius: 15px;
}


.wrapper.form-success .container h1 {
    transform: translateY(85px);
}



.wrapper h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 200;
    color: #fff;
    padding-top: 60px;
}

.container h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 200;
    color: #fff;
    padding-top: 60px;
}

/*
CSS FORMULAIRE DE CONTACT ET FORMULAIRE INSCRIPTION
 */
form {
    padding: 100px 0;
    position: relative;
    z-index: 2;
}

form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

* form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: white;
    width: 300px;
    color: #333333;
}

form textarea {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

form textarea:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form textarea:focus {
    background-color: white;
    width: 300px;
    color: #333333;
}

form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #333333;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #f5f7f9;
}

.backgroundForm  {
    padding: 90px;
    background-image: url("../img/imageHeader.jpg");
    background-repeat: no-repeat;

}

.signMail{
    margin-bottom: 10px;
}
.signPass{
    margin-bottom: 10px;
}

.restmdp {
    text-align: center;
    text-decoration: none;
    color: #fff;

}

@-webkit-keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-700px) rotate(600deg);
    }
}

/**
FIN CSS FORMULAIRES
 */

/**
ARTICLES
*/
.wrap3{
    max-width: 1100px;
    width: 100%;
    margin:0 auto;
}
body{
    background-color: gainsboro;
}
#art{

    background: -webkit-linear-gradient(top left, #034ea2 0%, #4698a2 100%);
    background: -moz-linear-gradient(top left, #034ea2 0%, #4698a2 100%);
    background: -o-linear-gradient(top left, #034ea2 0%, #4698a2 100%);
    background: linear-gradient(to bottom right, #034ea2 0%, #4698a2 100%);
    padding-bottom: 30px;
}
h1.titreArticle{
    font-size: 4.5em;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}
h2.sousPartie{
    font-size: 2.2em;
    text-align: center;
    color: white;
    margin-bottom: 25px;

}
h3.titleBloc {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 10px;
    line-height: 130%;
}
#part1{
    margin-bottom: 100px;

}
#part2{
    margin-bottom: 100px;

}
.blocA{
    margin-bottom: 30px;

}
.blocB{
    margin-bottom: 30px;
}
.blocC{
    margin-bottom: 30px;
}
.blocA .bloc1{
    width: 31.33%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    border: solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    height: 175px;
    overflow: hidden;
}
.blocB .bloc2{
    width: 31.33%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 10px;
    border: solid;
    border-color: black;
    padding: 10px;
    height: 165px;
    overflow: hidden;
}
.blocB .bloc3{
    width: 48%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    border: solid;
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    height: 155px;
    overflow: hidden;
}
.blocC .bloc1{
    width: 98%;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 10px;
    border: solid;
    border-color: black;
    padding: 10px;
    min-height: 100px;

}
.title{
    text-decoration: none;
    color: #A1A1A1;
    border-bottom: solid;
}
.para{
    text-decoration: none;
    color: black;
}
.italique{
    font-style: italic;
    color: white;
}

h3 .title:hover{
    color: brown;

}
.para:hover{
    color: brown;
}


/**
FIN ARTICLES
 */

/**
FOOTER
 */
footer {
    background: #333333;
    padding: 20px 0 20px 0;
    text-align: center;
    color: #fff;
}

/**
FIN FOOTER
 */
/**
MEDIA RESPONSIVE
 */

@media screen and (max-width: 640px) {
    .blocA .bloc1 {
        width: 48%;
        margin-bottom: 30px;
        margin-right: 1%;
        margin-left: 1%;
    }
    .blocB .bloc2{
        width: 48%;
        margin-bottom: 30px;
        margin-right: 1%;
        margin-left: 1%;
    }
}
